body{
width:1000px;
margin:auto;
}  
h1{
font-family: BellotaRegular';
font-size: 36px;
text-align: center;
}

h2{
font-family: 'BabelStoneModernRegular';
font-weight: normal;
font-style: normal; 
font-size : 20px;
text-align: center;
}

p.citation{
font-family: 'UglyTypistRegular';
font-size: 14px;
text-align: center;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
}

.card{
width: 300px;
  height:225px;1
}
